
<%= render :partial => 'layouts/nav_bar' %>
<div class="textBox rsvp">

  <div class="page-header">
    <h1><small>what are you waiting for?</small> RSVP</h1>
  </div>

  <div class="row">
    <div class="span8 offset2 rsvpUncenter">
      <p>Please let us know if you can make it. We'd love to have everyone come, and we need to make sure we have enough food (and booze).</p>
    </div>
  </div>

  <div class="row">
    <div class="span8 offset2">
      <%= form_for @user do |f| %>
        <div class="row">
        <fieldset>

          <div class="control-group span4">
            <div class="row">
              <div class="span2">
                <label class="control-label" for="first_name"><strong>First Name:</strong></label>
              </div>
              <div class="span2">
                <label class="control-label" for="first_name"><strong>Last Name:</strong></label>
              </div>
            </div>
            <div class="controls">
              <%= f.text_field :first_name, :class => 'span2' %>
              <%= f.text_field :last_name, :class => 'span2' %>
            </div>
          </div>

          <div class="control-group span4">
            <label class="control-label" for="email"><strong>Email:</strong></label>
            <div class="controls">
              <%= f.text_field :email, :class => 'span4' %>
            </div>
          </div>
          <div class="span4">

          <div class="control-group"
            <label class="control-label"><strong>Will You Be Coming?</strong></label>
            <div class="controls centered">
              <label class="radio">
                <%= f.radio_button :attending, true  %>
                Yes, Let's get krunk!
              </label>
              <label class="radio">
                <%= f.radio_button :attending, false  %>
                Sadly, No
              </label>
            </div>
          </div>

          <div class="control-group">
            <div class="span3">
              <label for="party_size"><strong>If yes, how many will be in your party?</strong></label>
              <%= fields_for @user.party do |p| %>
                <%= p.text_field :party_size, :cols => 1, :class => 'span1' %>
              <% end %>
            </div>
          </div>
          </div>

          <div class="control-group span4">
            <label class="control-label" for="message"><strong>Message for the happy couple:</strong></label>
            <div class="controls">
              <%= f.text_area :message, :rows => 6, :class => 'span4' %>
            </div>
          </div>

          <%= f.submit :class => "btn", :value => "RSVP"%>
        </fieldset>
        </div>

      <% end %>

    </div>
  </div>
</div>

<%= render :partial => 'layouts/footer' %>
