<%= render :partial => 'layouts/nav_bar' %>


<div class="container-fluid">

  <h1>Welcome</h1>

  <p>Here you can edit your reservation</p>

  <address>
    <% @user = User.find(12) %>
    <%= "#{@user.first_name} #{@user.last_name}" %><br>
    <%= "#{@user.address1}" %><br>
    <%= "#{@user.city}, #{@user.state} #{@user.zip}" %><br>
  </address>

</div>
<%= render :partial => 'layouts/footer' %>